.Alert {
    background: pink;
    width: 50%;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;

}
.Alert.success {
    background: greenyellow;
}

.Alert.danger {
    background: red;
}

.Alert.primary {
    background: cornflowerblue;
}
